.App {
  text-align: center;
}
.title {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    darkblue,
    rgba(40,180,131,0.8)),
    url('./water.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  display: block;
}

h1 {
  text-align: center;
  font-family: 'proxima-nova';
  font-style: oblique;
  font-weight: 400;
  font-size: 120px;
  color: white;
  text-shadow: 0 1px 1px grey;
  padding: 160px;
  margin: auto;
  letter-spacing: 8px;
}
h3 {
  font-family: 'proxima-nova';
  font-style: oblique;
  letter-spacing: 2px;
  font-weight: 100;
  color: white;

}

.footer {
  height: 20px;
  display: block;
  position: relative;
  text-align: center;
  margin: auto;
  padding: 10px;
  color: grey;
  float: right;
  ;
}
